<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="robots" content="noindex,noarchive, nofollow" />
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    <title>Tech Munchers</title>
</head>

<body>
    <header>
        <h1>Tech Munchers</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/customers">Customers</a>
            <a href="/deliverers">Deliverers</a>
            <a href="/restaurants">Restaurants</a>
            <a href="/restaurantsdishes">Restaurant Dishes</a>
            <a href="/dishes">Dishes</a>
            <a href="/ordersdishes">Ordered Dishes</a>
            <a href="/orders">Orders</a>
        </nav>
    </header>

    {{{body}}}

    <footer>
        Tech Munchers &copy 2024
    </footer>
</body>
</html>
